In [4]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
titanic_data = pd.read_csv('train.csv')

## Simple data preprocessing

In [7]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
X = titanic_data.drop(['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
y = titanic_data.Survived

In [17]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [21]:
X = pd.get_dummies(X)
X = X.fillna({'Age' : X.Age.median()})

## Clreating DecisionTreeClassifier

In [22]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [23]:
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [28]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [31]:
clf.score(X_train, y_train)

0.9798657718120806

In [32]:
clf.score(X_test, y_test)

0.7661016949152543

## Using cross validation

In [33]:
from sklearn.model_selection import cross_val_score

In [34]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=10)

In [36]:
cross_val_score(clf, X_train, y_train, cv = 5).mean()

0.7986075108009306

In [37]:
cross_val_score(clf, X_test, y_test, cv = 5).mean()

0.7966101694915254

## GridSearchCV

In [76]:
from sklearn.model_selection import GridSearchCV

In [77]:
clf = tree.DecisionTreeClassifier()

In [78]:
parametrs = {'criterion' : ['gini', 'entropy'], 'max_depth': range(1, 30)}

In [79]:
grid_search_cv_clf = GridSearchCV(clf, parametrs, cv = 5)

In [80]:
grid_search_cv_clf

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(1, 30)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [81]:
grid_search_cv_clf.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(1, 30)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [82]:
grid_search_cv_clf.best_params_

{'criterion': 'entropy', 'max_depth': 14}

In [83]:
best_clf = grid_search_cv_clf.best_estimator_

In [84]:
best_clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=14,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [85]:
best_clf.score(X_test, y_test)

0.7864406779661017

In [119]:
cross_val_score(best_clf, X_test, y_test, cv = 5).mean()

0.7932203389830509

## Metrics

In [87]:
from sklearn.metrics import precision_score, recall_score

In [88]:
y_pred = best_clf.predict(X_test)

In [89]:
precision_score(y_test, y_pred)

0.7355371900826446

In [90]:
recall_score(y_test, y_pred)

0.7416666666666667

## Random Forest Classifire

In [120]:
from sklearn.ensemble import RandomForestClassifier

In [121]:
clf_rf = RandomForestClassifier()

In [133]:
parametrs_rf = {'n_estimators': [100], 'max_depth': range(5, 10)}

In [141]:
grid_search_cv_clf_rf = GridSearchCV(clf_rf, parametrs_rf, cv = 5)

In [142]:
grid_search_cv_clf_rf.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': range(5, 10), 'n_estimators': [100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [143]:
grid_search_cv_clf_rf.best_params_

{'max_depth': 5, 'n_estimators': 100}

In [144]:
best_clf_rf = grid_search_cv_clf_rf.best_estimator_

In [145]:
best_clf_rf.score(X_test, y_test)

0.823728813559322

## Feature importsnce

In [147]:
feature_importances = best_clf_rf.feature_importances_

In [148]:
feature_importances_df = pd.DataFrame({'features': list(X_train),
                                      'feature_importances': feature_importances})

In [149]:
feature_importances_df.sort_values('feature_importances', ascending=False)

     features  feature_importances
5  Sex_female             0.268580
6    Sex_male             0.246323
4        Fare             0.138514
0      Pclass             0.127949
1         Age             0.099411
2       SibSp             0.038992
3       Parch             0.034047
7  Embarked_C             0.019753
9  Embarked_S             0.019221
8  Embarked_Q             0.007211